.dialog__backdrop {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

dialog {
  width: 25vw;
  min-height: 30vh;
  padding: 2rem 2rem 1.5rem;
  margin: 0 auto;

  color: var(--color-text-base);
  text-align: center;

  background: var(--color-gradient-components);
  border: solid 1px var(--color-bg-accent);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-lg);
  backdrop-filter: blur(8px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dialog__btn-wrapper {
  width: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.dialog-level-select form label {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 1rem;
}

.dialog-level-select input[type='radio'] {
  accent-color: var(--color-bg-accent);
}
