.primary-btn {
  min-width: 5rem;
  padding: 0.5rem 1rem;

  color: var(--color-text-dark);
  font-size: var(--font-sm);
  font-weight: 700;

  background-color: var(--color-text-base);
  border: none;
  border-radius: 2rem;
}

.primary-btn:hover {
  background-color: var(--color-text-muted);
}

.secondary-btn {
  min-width: 5rem;
  padding: 0.4rem 1rem;

  color: var(--color-text-base);
  font-size: var(--font-sm);

  background: none;
  border: solid 2px var(--color-text-base);
  border-radius: 2rem;
}

.secondary-btn:hover {
  background-color: var(--color-bg-base-hover);
}

.primary-btn,
.secondary-btn {
  cursor: pointer;
}
