header {
  width: 100vw;
  heigt: 200px;
  padding: 2rem;

  font-family: var(--font-body);
  font-size: var(--font-xl);
  font-weight: 700;
  color: rgb(255, 207, 32);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  position: relative;
}

.header__logo {
  width: 300px;
  margin-bottom: 0.5rem;
}

.header__highscore {
  position: absolute;
  right: 50px;
}

.header__progress {
  color: var(--color-text-base);
  font-size: var(--font-md);
}
